<div class="row">
  <div class="col-lg-5" id="overig">
      <h2 class="page-header text-center">Overige pagina's</h2>
      <ul>
        <li>
        <%=link_to '-ALGEMENE VOORWAARDEN', footer_algemene_voorwaarden_path %>
        </li>
        <li>
        <%=link_to '-DISCLAIMER', footer_disclaimer_path %>
        </li>
        <li>
          <%=link_to '-PRIVACY', footer_privacy_path %>
        </li>
        <li><%=link_to '-KLACHTEN', footer_klachten_path %></li>
        <li><%=link_to '-TARIEVEN', footer_tarieven_path %></li>
      </ul>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
</div>
