<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; CesarWise 2017</p>
  </div>
  <!-- /.container -->
</footer>
<!--
<div class="row">
<div class="foottext container-fluid">

 <ul class="naast">
      <small>©copyright</small>
    </ul>
  </div>

      <ul class="onder">
      <li>
    <%=link_to 'ALGEMENE VOORWAARDEN', footer_algemene_voorwaarden_path %>
    </li>
    <li>
    <%=link_to 'DISCLAIMER', footer_disclaimer_path %>
    </li>
    <li>
      <%=link_to 'PRIVACY', footer_privacy_path %>
    </li>
    <li><%=link_to 'KLACHTEN', footer_klachten_path %></li>

    </ul>
</div>

<li><%=link_to 'TARIEVEN', footer_tarieven_path %></li>-->




<!--<li>
<li><%=link_to 'HOME', navbar_home_path %></li>
<li><%=link_to 'OVER', navbar_home_path %></li>
<li><%=link_to 'CONTACT', navbar_contact_path %></li>
<li><%=link_to 'IN BALANS', navbar_in_balans_path %></li>
<li><%=link_to 'DIENSTEN', navbar_diensten_path %></li>
<li><%=link_to 'PARTNERS', navbar_samenwerkingen_path %></li>
<li><%=link_to 'KLACHTEN', footer_klachten_path %></li>
<li><%=link_to 'TARIEVEN', footer_tarieven_path %></li>
    <%=link_to 'VEELGESTELDE VRAGEN', footer_veelgestelde_vragen_path %>
</li>-->
